<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path == 'home-layout' ? 'active' : '' %>" href="/"
          >Home</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path == 'shop-layout' ? 'active' : '' %>" href="/shop"
          >Shop</a
        >
      </li>

      <% if (isAuthenticated) { %>

      <li class="main-header__item">
        <a
          class="<%= path == 'myProducts-layout' ? 'active' : '' %>"
          href="/my-cart"
          >Cart</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path == 'orders-layout' ? 'active' : '' %>"
          href="/my-orders"
          >Orders</a
        >
      </li>
      <li class="main-header__item last">
        <a class="<%= path == 'admin-layout' ? 'active' : '' %>" href="/admin"
          >Admin</a
        >
      </li>
      <li class="main-header__item">
        <form action="/sign-out" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="logout-btn" type="submit">Sign out</button>
        </form>
      </li>

      <% } else { %>

      <li class="main-header__item last">
        <a
          class="<%= path == 'sign-in-layout' ? 'active' : '' %>"
          href="/sign-in"
          >Sign in</a
        >
      </li>

      <li class="main-header__item">
        <a
          class="<%= path == 'sign-up-layout' ? 'active' : '' %>"
          href="/sign-up"
          >Sign up</a
        >
      </li>

      <% } %>
    </ul>
  </nav>
</header>
