<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include("../includes/nav.ejs") %>
    <% if (errorMessage) { %>
        <div class="flash-message-container">
            <span class="error-message"><%= errorMessage %></span>
        </div>
    <% } %>
    <% if(successMessage) { %>
    <div class="flash-message-container">
        <span class="succes-message"><%= successMessage %></span>
    </div>
    <% } else { %>
    <main class="main-container">
        <form class="login-form" action="/forgot-password" method="POST" >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="user-email">User Email:</label>
                <input class="user-email" id="user-email" type="email" name="email">
            </div>
            
            <button class="btn" type="submit">Send Mail</button>
        </form>
    </main>
    <% } %>
</body>

</html>