<%- include("../includes/head.ejs") %>

<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include("../includes/nav.ejs") %>
    <main>
        <div class="cart-container">
            <h2 class="cart-title">Your Orders</h2>
            <% if (order.length > 0) { %>
                <% order.forEach((orders) => { %>
                    <% orders.products.forEach((order) => { %>
                        <div class="cart-content">
                            <div class="cart-top">
                                <div class="img-container">
                                    <img src="/<%= order.imgUrl %>" alt="resim">
                                </div>
                                <div class="cart-top-content">
                                        <h3 class="cart-title">
                                            <%= order.title %>
                                        </h3>
                                        <span class="hr"></span>
                                        <div class="cart-price-and-qty">
                                            <div class="price-container">
                                                <h4 class="price-text">Price:</h4>
                                                <span class="hr"></span>
                                                <span class="price">$<%= order.price %></span>
                                            </div>
                                            <div class="qty-container">
                                                <h4 class="qty-text">Quantity:</h4>
                                                <span class="hr"></span>
                                                <span class="qty"><%= order.quantity %></span>
                                            </div>
                                        </div>
                                        <div class="invoice-container">
                                            <a class="invoice" href="/orders/<%= orders._id %>">Invoice</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% }); %>
            <% } else { %>
                <h1>No Orders !</h1>
            <% } %>  
        </div>
        </div>
    </main>
</body>

</html>